<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block title %}
Список товарів
{% endblock %}

{% block content %}

<h2>Список товарів</h2>

<table border="1">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Бренд</th>
            <th>Розмір</th>
            <th>Колір</th>
            <th>Ціна</th>
        </tr>
    </thead>

    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.size }}</td>
            <td>{{ product.color }}</td>
            <td>{{ product.price }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Товарів немає</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
</body>
</html>