<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}Мій Django сайт{% endblock %}
    </title>
{% load static %}
    <link rel="stylesheet" href="{% static 'catalog/css/style.css' %}">
</head>

<body>
    <header>
        {% include 'partials/menu.html' %}
    </header>

    {% include 'partials/messages.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 Мій Django сайт</p>
    </footer>

</body>
</html>